<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ps</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.ycw.photosystem.bean.Category"/>
        <mapping class="com.ycw.photosystem.bean.Department"/>
        <mapping class="com.ycw.photosystem.bean.Event"/>
        <mapping class="com.ycw.photosystem.bean.Permission"/>
        <mapping class="com.ycw.photosystem.bean.Request"/>
        <mapping class="com.ycw.photosystem.bean.Support"/>
        <mapping class="com.ycw.photosystem.bean.User"/>
        <mapping class="com.ycw.photosystem.bean.Picture"/>
    </session-factory>
</hibernate-configuration>